### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Environments
.env
.venv
venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Local History for Visual Studio Code
.history/

# zephyr
build

